/workspace/A_Donguler-Soru 8/nbproject/private/
/workspace/A_Donguler-Soru 8/dist/
/workspace/A_Donguler-Soru 8/build/
/workspace/A_Donguler-Soru 9/nbproject/private/
/workspace/A_Donguler-Soru 9/dist/
/workspace/A_Donguler-Soru 9/build/
/workspace/A_Donguler-Soru 10/nbproject/private/
/workspace/A_Donguler-Soru 10/build/
/workspace/A_Harf-Cizimleri/nbproject/private/
/workspace/A_Harf-Cizimleri/build/
/workspace/A_Harf-Cizimleri/dist/
